{{ define "content" }}
    <body>
        <!-- Navbar -->
        <h1>Workout Tracker</h1>
        <div class="row workout-container">
            {{ range .}}
                <div class="col-sm-6 workout-card">
                {{ range .Liftinfos }}
                    <p>{{ .Lift.Name }}</p>
                    {{ range .Setinfos }}
                        <div>
                            <p>
                                <label for="{{ .Quantity.CreatedAt }}">{{ .Quantity.Weight }} x {{ .Quantity.Quantity }}</label> 
                                <input type="checkbox" value="{{ .Set.Done }}" id="{{.Quantity.CreatedAt }}"/>
                            </p>
                        </div>
                    {{ end }}
                {{ end }}
                </div>
            {{ end }}
        </div>
        <!-- Footer -->
    </body>
{{ end }}
