{{ define "content" }}
    <body>
        <!-- Navbar -->
        <h1>Workout Tracker</h1>
        <div class="row workout-container">
            <div class="col-sm-6 workout-card">
            {{ range .}}
                <p>{{ .Lift.Name }}</p>
                {{ range .Setinfos }}
                    <div>
                        <p>
                            <label for="{{ .Quantity.CreatedAt }}">{{ .Quantity.Weight }}</label> 
                            <input type="checkbox" value="{{ .Set.Done }}" id="{{.Quantity.CreatedAt }}"/>
                        </p>
                    </div>
                {{ end }}
            {{ end }}
            </div>
        </div>
        <!-- Footer -->
    </body>
{{ end }}
